@inherits LayoutComponentBase

<PageTitle>CharityPlatform</PageTitle>
<header>
    <div class="container-fluid header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 logo-dv">
                    <img src="assets/images/logo.jpg" alt="">
                </div>
                <div class="col-md-9 bonto">
                    <ul>
                        <li>
                            <div class="donta-btn">
                                <NavLink href="/dang-nhap">
                                    <p>Tham gia</p>
                                    <strong>cộng đồng</strong>
                                </NavLink>
                            </div>
                        </li>
                        <li>
                            <div class="voltterr-btn">
                                <NavLink href="/dang-ky">
                                    <p>Trở thành</p>
                                    <strong>thành viên</strong>
                                </NavLink>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <NavMenu />
</header>
@Body
<Footer />