<div id="menu-jk" class="headwe-nav container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 nav-div">
                <nav class="navbar navbar-expand-lg navbar-light     ">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>


                    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about_us.html">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="events.html">Events</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="contact_us.html">Contact US</a>
                            </li>
                        </ul>

                    </div>
                </nav>
            </div>
            <div class="col-lg-3 d-none d-lg-block social-div">
                <ul class="ulright">
                    <li>
                        <i class="fab fa-facebook-square"></i>
                    </li>
                    <li>
                        <i class="fab fa-twitter-square"></i>
                    </li>
                    <li>
                        <i class="fab fa-instagram"></i>
                    </li>
                    <li>
                        <i class="fab fa-linkedin"></i>
                    </li>
                    <li>
                        <i class="fab fa-pinterest-square"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>